    /*
    Flaticon icon font: Flaticon
    Creation date: 04/06/2024 05:55
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-history:before { content: "\f100"; }
.flaticon-clock-1:before { content: "\f101"; }
.flaticon-voucher:before { content: "\f102"; }
.flaticon-discount:before { content: "\f103"; }
.flaticon-gift-2:before { content: "\f104"; }
.flaticon-gift-1:before { content: "\f105"; }
.flaticon-chat-1:before { content: "\f106"; }
.flaticon-technical-support:before { content: "\f107"; }
.flaticon-support:before { content: "\f108"; }
.flaticon-supplement:before { content: "\f109"; }
.flaticon-play-button:before { content: "\f10a"; }
.flaticon-user:before { content: "\f10b"; }
.flaticon-alarm-clock:before { content: "\f10c"; }
.flaticon-like:before { content: "\f10d"; }
.flaticon-add:before { content: "\f10e"; }
.flaticon-interface:before { content: "\f10f"; }
.flaticon-phone-call:before { content: "\f110"; }
.flaticon-shop:before { content: "\f111"; }
.flaticon-checked:before { content: "\f112"; }
.flaticon-close:before { content: "\f113"; }
.flaticon-commerce:before { content: "\f114"; }
.flaticon-arrows:before { content: "\f115"; }
.flaticon-human-back:before { content: "\f116"; }
.flaticon-count-calories:before { content: "\f117"; }
.flaticon-house-outline:before { content: "\f118"; }
.flaticon-right-arrow-angle:before { content: "\f119"; }
.flaticon-earth-globe:before { content: "\f11a"; }
.flaticon-map-marker:before { content: "\f11b"; }
.flaticon-speech-bubbles-comment-option:before { content: "\f11c"; }
.flaticon-lines:before { content: "\f11d"; }
.flaticon-phone-receiver:before { content: "\f11e"; }
.flaticon-clock:before { content: "\f11f"; }
.flaticon-note:before { content: "\f120"; }
.flaticon-date:before { content: "\f121"; }
.flaticon-network:before { content: "\f122"; }
.flaticon-band-aid:before { content: "\f123"; }
.flaticon-medical-history:before { content: "\f124"; }
.flaticon-animals:before { content: "\f125"; }
.flaticon-medical:before { content: "\f126"; }
.flaticon-mortar:before { content: "\f127"; }
.flaticon-certificate:before { content: "\f128"; }
.flaticon-abs:before { content: "\f129"; }
.flaticon-lose-weight:before { content: "\f12a"; }
.flaticon-release-pedal:before { content: "\f12b"; }
.flaticon-proteins-1:before { content: "\f12c"; }
.flaticon-mail:before { content: "\f12d"; }
.flaticon-protein:before { content: "\f12e"; }
.flaticon-gift:before { content: "\f12f"; }
.flaticon-people:before { content: "\f130"; }
.flaticon-increase:before { content: "\f131"; }
.flaticon-vegetables:before { content: "\f132"; }
.flaticon-coupon:before { content: "\f133"; }
.flaticon-transport:before { content: "\f134"; }
.flaticon-proteins:before { content: "\f135"; }
.flaticon-chat:before { content: "\f136"; }
.flaticon-back:before { content: "\f137"; }
    
    $font-Flaticon-history: "\f100";
    $font-Flaticon-clock-1: "\f101";
    $font-Flaticon-voucher: "\f102";
    $font-Flaticon-discount: "\f103";
    $font-Flaticon-gift-2: "\f104";
    $font-Flaticon-gift-1: "\f105";
    $font-Flaticon-chat-1: "\f106";
    $font-Flaticon-technical-support: "\f107";
    $font-Flaticon-support: "\f108";
    $font-Flaticon-supplement: "\f109";
    $font-Flaticon-play-button: "\f10a";
    $font-Flaticon-user: "\f10b";
    $font-Flaticon-alarm-clock: "\f10c";
    $font-Flaticon-like: "\f10d";
    $font-Flaticon-add: "\f10e";
    $font-Flaticon-interface: "\f10f";
    $font-Flaticon-phone-call: "\f110";
    $font-Flaticon-shop: "\f111";
    $font-Flaticon-checked: "\f112";
    $font-Flaticon-close: "\f113";
    $font-Flaticon-commerce: "\f114";
    $font-Flaticon-arrows: "\f115";
    $font-Flaticon-human-back: "\f116";
    $font-Flaticon-count-calories: "\f117";
    $font-Flaticon-house-outline: "\f118";
    $font-Flaticon-right-arrow-angle: "\f119";
    $font-Flaticon-earth-globe: "\f11a";
    $font-Flaticon-map-marker: "\f11b";
    $font-Flaticon-speech-bubbles-comment-option: "\f11c";
    $font-Flaticon-lines: "\f11d";
    $font-Flaticon-phone-receiver: "\f11e";
    $font-Flaticon-clock: "\f11f";
    $font-Flaticon-note: "\f120";
    $font-Flaticon-date: "\f121";
    $font-Flaticon-network: "\f122";
    $font-Flaticon-band-aid: "\f123";
    $font-Flaticon-medical-history: "\f124";
    $font-Flaticon-animals: "\f125";
    $font-Flaticon-medical: "\f126";
    $font-Flaticon-mortar: "\f127";
    $font-Flaticon-certificate: "\f128";
    $font-Flaticon-abs: "\f129";
    $font-Flaticon-lose-weight: "\f12a";
    $font-Flaticon-release-pedal: "\f12b";
    $font-Flaticon-proteins-1: "\f12c";
    $font-Flaticon-mail: "\f12d";
    $font-Flaticon-protein: "\f12e";
    $font-Flaticon-gift: "\f12f";
    $font-Flaticon-people: "\f130";
    $font-Flaticon-increase: "\f131";
    $font-Flaticon-vegetables: "\f132";
    $font-Flaticon-coupon: "\f133";
    $font-Flaticon-transport: "\f134";
    $font-Flaticon-proteins: "\f135";
    $font-Flaticon-chat: "\f136";
    $font-Flaticon-back: "\f137";